/* CTA SLIDESHOW */
.cta {
  background-color: #3b5ae3;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  /* overflow: hidden; */
}

.msg {
  margin: 0;
  transform: translateY(100%);
  opacity: 0;
  animation: slideShow 8s infinite;
}

/* message starts immediately, cta2 will start after */
.msg1 {
  animation-delay: 0s;
}
.msg2 {
  animation-delay: 4s;
}

/*8 sec total: 0-4s show-first then, 4-8s show-second*/
@keyframes slideShow {
  /* off screen */
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  /* slide in */
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  /* stay in view */
  40% {
    transform: translateY(0);
    opacity: 1;
  }
  /* slide up */
  50% {
    transform: translateY(-100%);
    opacity: 0;
  }
  /* slide off */
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

/* VIDEO CSS */
.hero {
  position: relative;
  height: 60vh;
  min-height: 360px;
  margin: 0;
}
.hero video {
  position: absolute;
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  height: 47rem;
  z-index: 0;
}

.hero .content {
  position: absolute;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  /* z-index: 1; */
}

.content a {
  text-decoration: none;
  color: #fff;
}

.content a:hover {
  text-decoration: none;
  color: #5484e5;
}

.hero .btn {
  display: inline-block;
  background-color: #ff6600;
  padding: 10px 20px;
  margin-top: 10px;
  text-decoration: none;
  border-radius: 5px;
}
