body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

/* HEADER CSS */
header {
  background-color: #fff;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

header img {
  height: 7rem;
  width: auto;
}

/* NAV  */
/* nav {
  justify-content: end;
} */

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
}

nav a {
  text-decoration: none;
  color: #111;
}

nav a:hover {
  color: #dd22b1;
}

/* CTA SLIDESHOW */
.cta {
  background-color: #3b5ae3;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  /* overflow: hidden; */
}

.msg {
  margin: 0;
  transform: translateY(100%);
  opacity: 0;
  animation: slideShow 8s infinite;
}

/* message starts immediately, cta2 will start after */
.msg1 {
  animation-delay: 0s;
}
.msg2 {
  animation-delay: 4s;
}

/*8 sec total: 0-4s show-first then, 4-8s show-second*/
@keyframes slideShow {
  /* off screen */
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  /* slide in */
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  /* stay in view */
  40% {
    transform: translateY(0);
    opacity: 1;
  }
  /* slide up */
  50% {
    transform: translateY(-100%);
    opacity: 0;
  }
  /* slide off */
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

/* VIDEO CSS */
.hero {
  position: relative;
  height: 60vh;
  min-height: 360px;
  margin: 0;
}
.hero video {
  position: absolute;
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  height: 47rem;
  z-index: 0;
}

.hero .content {
  position: absolute;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  /* z-index: 1; */
}

.content a {
  text-decoration: none;
  color: #fff;
}

.content a:hover {
  text-decoration: none;
  color: #5484e5;
}

.hero .btn {
  display: inline-block;
  background-color: #ff6600;
  padding: 10px 20px;
  margin-top: 10px;
  text-decoration: none;
  border-radius: 5px;
}
/* FOOTER */
footer {
  position: fixed;
  left: 0;
  bottom: 0.3rem;
  width: 100%;
  height: 5rem;
  background-color: #fff;
  color: #111;
  text-align: center;
  justify-content: center;
  padding-top: 1.5rem;
}

.insta img {
  height: 5rem;
  width: auto;
}

.facebook img {
  height: 5rem;
  width: auto;
}

.x img {
  height: 4.3rem;
  width: auto;
}

/* media queries */
/* phones */
@media (min-width: 300px) and (max-width: 600px) {
  body {
    font-size: 14px;
  }
  .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  nav ul {
    flex-direction: column;
    gap: 8px;
    padding: 0;
  }
  cta p {
    font-size: 0.9rem;
  }
  .hero {
    height: auto;
  }

  .hero video {
    height: auto;
    min-height: 200px;
  }
  .hero .content p {
    font-size: 0.9rem;
  }
  .btn {
    padding: 8px 16px;
    font-size: 0.9rem;
  }
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  nav ul {
    gap: 12px;
  }
  .hero .content h2 {
    font-size: 1.7rem;
  }
  .hero .content p {
    font-size: 1rem;
  }
}
